<!doctype html>
<html lang="en">

<head>
  <title>米菇認養花園</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div id="app">
    <header class="navbar">
      <a class="navbar-brand mx-auto" href="#">米菇認養花園</a>
    </header>
    <div class="container">
      <div class="banner"></div>
      <ul class="nav category my-3">
        <li class="nav-item mx-auto" :class="{active: showDutch}">
          <a class="nav-link" href="#" @click.prevent="showCategory('道奇兔')">道奇兔</a>
        </li>
        <li class="nav-item mx-auto" :class="{active: showLion}">
          <a class="nav-link" href="#" @click.prevent="showCategory('獅子兔')">獅子兔</a>
        </li>
        <li class="nav-item mx-auto" :class="{active: showWhite}">
          <a class="nav-link" href="#" @click.prevent="showCategory('白兔')">白兔</a>
        </li>
      </ul>
      <div class="row product" v-if="showDutch">
        <div class="col-md-4 mb-4" v-for="(item, key) in filterDutch" :key="key">
          <div class="card">
            <img :src="item.imageUrl" class="card-img-top" alt="item.title">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.content}}</p>
              <a href="#" class="btn btn-primary">我要認養</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row product" v-if="showLion">
        <div class="col-md-4 mb-4" v-for="(item, key) in filterLion" :key="key">
          <div class="card">
            <img :src="item.imageUrl" class="card-img-top" alt="item.title">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.content}}</p>
              <a href="#" class="btn btn-primary">我要認養</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row product" v-if="showWhite">
        <div class="col-md-4 mb-4" v-for="(item, key) in filterWhite" :key="key">
          <div class="card">
            <img :src="item.imageUrl" class="card-img-top" alt="item.title">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{item.content}}</p>
              <a href="#" class="btn btn-primary">我要認養</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.9/dist/vue.js"></script>
  <script src="./js/main.js" type="module"></script>
</body>

</html>