// common
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
// variable
$primary: #aa0601;

// navbar
.navbar {
  background-color: $primary;
  padding: 30px 88px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.navbar__list {
  display: flex;
  align-items: center;
}
.navbar__list__item {
  margin-left: 64px;
}

@media screen and (max-width: 992px) {
  .navbar {
    padding: 30px 39px;
  }
  .navbar__list__item {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    flex-direction: column;
    padding: 0;
    align-items: center;
  }
  .navbar__logo {
    width: 100%;
    border-bottom: 1px solid #ffffff;
    img {
      margin: 10px auto;
    }
  }
  .navbar__list {
    flex-wrap: wrap;
    width: 100%;
  }
  .navbar__list__item {
    margin-left: 0px;
    width: 50%;
    text-align: center;
    padding: 8px 0;
    &:nth-child(even) {
      border-left: 1px solid #ffffff;
    }
    &:nth-child(1),
    &:nth-child(2) {
      border-bottom: 1px solid #ffffff;
    }
  }
}
